In [1]:
# import the libraries

import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.preprocessing import TransactionEncoder

In [2]:
# read data

df = pd.read_csv('../Data/GroceryStoreDataSet.csv',names=['products'],header=None)

In [3]:
df.shape

(20, 1)

In [4]:
df

                          products
0               MILK,BREAD,BISCUIT
1    BREAD,MILK,BISCUIT,CORNFLAKES
2              BREAD,TEA,BOURNVITA
3             JAM,MAGGI,BREAD,MILK
4                MAGGI,TEA,BISCUIT
5              BREAD,TEA,BOURNVITA
6             MAGGI,TEA,CORNFLAKES
7          MAGGI,BREAD,TEA,BISCUIT
8              JAM,MAGGI,BREAD,TEA
9                       BREAD,MILK
10  COFFEE,COCK,BISCUIT,CORNFLAKES
11  COFFEE,COCK,BISCUIT,CORNFLAKES
12          COFFEE,SUGER,BOURNVITA
13               BREAD,COFFEE,COCK
14             BREAD,SUGER,BISCUIT
15         COFFEE,SUGER,CORNFLAKES
16           BREAD,SUGER,BOURNVITA
17              BREAD,COFFEE,SUGER
18              BREAD,COFFEE,SUGER
19      TEA,MILK,COFFEE,CORNFLAKES

In [5]:
df.columns

Index(['products'], dtype='object')

In [6]:
df.values

array([['MILK,BREAD,BISCUIT'],
       ['BREAD,MILK,BISCUIT,CORNFLAKES'],
       ['BREAD,TEA,BOURNVITA'],
       ['JAM,MAGGI,BREAD,MILK'],
       ['MAGGI,TEA,BISCUIT'],
       ['BREAD,TEA,BOURNVITA'],
       ['MAGGI,TEA,CORNFLAKES'],
       ['MAGGI,BREAD,TEA,BISCUIT'],
       ['JAM,MAGGI,BREAD,TEA'],
       ['BREAD,MILK'],
       ['COFFEE,COCK,BISCUIT,CORNFLAKES'],
       ['COFFEE,COCK,BISCUIT,CORNFLAKES'],
       ['COFFEE,SUGER,BOURNVITA'],
       ['BREAD,COFFEE,COCK'],
       ['BREAD,SUGER,BISCUIT'],
       ['COFFEE,SUGER,CORNFLAKES'],
       ['BREAD,SUGER,BOURNVITA'],
       ['BREAD,COFFEE,SUGER'],
       ['BREAD,COFFEE,SUGER'],
       ['TEA,MILK,COFFEE,CORNFLAKES']], dtype=object)

In [7]:
data = list(df["products"].apply(lambda x:x.split(',')))
data

[['MILK', 'BREAD', 'BISCUIT'],
 ['BREAD', 'MILK', 'BISCUIT', 'CORNFLAKES'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['JAM', 'MAGGI', 'BREAD', 'MILK'],
 ['MAGGI', 'TEA', 'BISCUIT'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['MAGGI', 'TEA', 'CORNFLAKES'],
 ['MAGGI', 'BREAD', 'TEA', 'BISCUIT'],
 ['JAM', 'MAGGI', 'BREAD', 'TEA'],
 ['BREAD', 'MILK'],
 ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'SUGER', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'COCK'],
 ['BREAD', 'SUGER', 'BISCUIT'],
 ['COFFEE', 'SUGER', 'CORNFLAKES'],
 ['BREAD', 'SUGER', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'SUGER'],
 ['BREAD', 'COFFEE', 'SUGER'],
 ['TEA', 'MILK', 'COFFEE', 'CORNFLAKES']]

In [8]:
te = TransactionEncoder()
te_data = te.fit(data).transform(data)
df = pd.DataFrame(te_data,columns=te.columns_)
df

,BISCUIT,BOURNVITA,BREAD,COCK,COFFEE,CORNFLAKES,JAM,MAGGI,MILK,SUGER,TEA
0,True,False,True,False,False,False,False,False,True,False,False
1,True,False,True,False,False,True,False,False,True,False,False
2,False,True,True,False,False,False,False,False,False,False,True
3,False,False,True,False,False,False,True,True,True,False,False
4,True,False,False,False,False,False,False,True,False,False,True
5,False,True,True,False,False,False,False,False,False,False,True
6,False,False,False,False,False,True,False,True,False,False,True
7,True,False,True,False,False,False,False,True,False,False,True
8,False,False,True,False,False,False,True,True,False,False,True
9,False,False,True,False,False,False,False,False,True,False,False
10,True,False,False,True,True,True,False,False,False,False,False
11,True,False,False,True,True,True,False,False,False,False,False
12,False,True,False,False,True,False,False,False,False,True,False
13,False,False,True,True,True,False,False,False,False,False,False
14,True,False,True,False,False,False,False,False,False,True,False
15,False,False,False,False,True,True,False,False,False,True,False
16,False,True,True,False,False,False,False,False,False,True,False
17,False,False,True,False,True,False,False,False,False,True,False
18,False,False,True,False,True,False,False,False,False,True,False
19,False,False,False,False,True,True,False,False,True,False,True

In [20]:
df1 = apriori(df,min_support=0.1,use_colnames=True , max_len=4)
df1.sort_values(by="support",ascending=False)

    support                             itemsets
2      0.65                              (BREAD)
4      0.40                             (COFFEE)
0      0.35                            (BISCUIT)
10     0.35                                (TEA)
5      0.30                         (CORNFLAKES)
9      0.30                              (SUGER)
7      0.25                              (MAGGI)
8      0.25                               (MILK)
30     0.20                      (COFFEE, SUGER)
34     0.20                         (TEA, MAGGI)
11     0.20                     (BREAD, BISCUIT)
29     0.20                 (COFFEE, CORNFLAKES)
26     0.20                         (BREAD, TEA)
25     0.20                       (BREAD, SUGER)
24     0.20                        (MILK, BREAD)
1      0.20                          (BOURNVITA)
21     0.15                      (BREAD, COFFEE)
27     0.15                       (COFFEE, COCK)
23     0.15                       (BREAD, MAGGI)
3      0.15                               (COCK)
18     0.15                   (BREAD, BOURNVITA)
14     0.15                (CORNFLAKES, BISCUIT)
19     0.10                   (SUGER, BOURNVITA)
44     0.10           (COFFEE, CORNFLAKES, COCK)
43     0.10                  (BREAD, MAGGI, TEA)
42     0.10                  (BREAD, MAGGI, JAM)
41     0.10               (BREAD, SUGER, COFFEE)
40     0.10              (BREAD, TEA, BOURNVITA)
39     0.10                (TEA, MAGGI, BISCUIT)
38     0.10        (COFFEE, CORNFLAKES, BISCUIT)
37     0.10          (CORNFLAKES, BISCUIT, COCK)
36     0.10              (COFFEE, BISCUIT, COCK)
35     0.10               (MILK, BISCUIT, BREAD)
32     0.10                    (TEA, CORNFLAKES)
33     0.10                         (MAGGI, JAM)
20     0.10                     (TEA, BOURNVITA)
31     0.10                   (MILK, CORNFLAKES)
6      0.10                                (JAM)
12     0.10                      (BISCUIT, COCK)
28     0.10                   (CORNFLAKES, COCK)
13     0.10                    (COFFEE, BISCUIT)
15     0.10                     (MAGGI, BISCUIT)
16     0.10                      (MILK, BISCUIT)
17     0.10                       (TEA, BISCUIT)
22     0.10                         (BREAD, JAM)
45     0.10  (COFFEE, CORNFLAKES, BISCUIT, COCK)

In [21]:
df1['length'] = df1['itemsets'].apply(lambda x:len(x))
df1.sort_values(by="support",ascending=False)

    support                             itemsets  length
2      0.65                              (BREAD)       1
4      0.40                             (COFFEE)       1
0      0.35                            (BISCUIT)       1
10     0.35                                (TEA)       1
5      0.30                         (CORNFLAKES)       1
9      0.30                              (SUGER)       1
7      0.25                              (MAGGI)       1
8      0.25                               (MILK)       1
30     0.20                      (COFFEE, SUGER)       2
34     0.20                         (TEA, MAGGI)       2
11     0.20                     (BREAD, BISCUIT)       2
29     0.20                 (COFFEE, CORNFLAKES)       2
26     0.20                         (BREAD, TEA)       2
25     0.20                       (BREAD, SUGER)       2
24     0.20                        (MILK, BREAD)       2
1      0.20                          (BOURNVITA)       1
21     0.15                      (BREAD, COFFEE)       2
27     0.15                       (COFFEE, COCK)       2
23     0.15                       (BREAD, MAGGI)       2
3      0.15                               (COCK)       1
18     0.15                   (BREAD, BOURNVITA)       2
14     0.15                (CORNFLAKES, BISCUIT)       2
19     0.10                   (SUGER, BOURNVITA)       2
44     0.10           (COFFEE, CORNFLAKES, COCK)       3
43     0.10                  (BREAD, MAGGI, TEA)       3
42     0.10                  (BREAD, MAGGI, JAM)       3
41     0.10               (BREAD, SUGER, COFFEE)       3
40     0.10              (BREAD, TEA, BOURNVITA)       3
39     0.10                (TEA, MAGGI, BISCUIT)       3
38     0.10        (COFFEE, CORNFLAKES, BISCUIT)       3
37     0.10          (CORNFLAKES, BISCUIT, COCK)       3
36     0.10              (COFFEE, BISCUIT, COCK)       3
35     0.10               (MILK, BISCUIT, BREAD)       3
32     0.10                    (TEA, CORNFLAKES)       2
33     0.10                         (MAGGI, JAM)       2
20     0.10                     (TEA, BOURNVITA)       2
31     0.10                   (MILK, CORNFLAKES)       2
6      0.10                                (JAM)       1
12     0.10                      (BISCUIT, COCK)       2
28     0.10                   (CORNFLAKES, COCK)       2
13     0.10                    (COFFEE, BISCUIT)       2
15     0.10                     (MAGGI, BISCUIT)       2
16     0.10                      (MILK, BISCUIT)       2
17     0.10                       (TEA, BISCUIT)       2
22     0.10                         (BREAD, JAM)       2
45     0.10  (COFFEE, CORNFLAKES, BISCUIT, COCK)       4

In [22]:
df1[(df1['length']==2) & (df1['support']>=0.1)].sort_values(by="support",ascending=False)

    support               itemsets  length
11     0.20       (BREAD, BISCUIT)       2
24     0.20          (MILK, BREAD)       2
30     0.20        (COFFEE, SUGER)       2
29     0.20   (COFFEE, CORNFLAKES)       2
26     0.20           (BREAD, TEA)       2
25     0.20         (BREAD, SUGER)       2
34     0.20           (TEA, MAGGI)       2
18     0.15     (BREAD, BOURNVITA)       2
27     0.15         (COFFEE, COCK)       2
14     0.15  (CORNFLAKES, BISCUIT)       2
23     0.15         (BREAD, MAGGI)       2
21     0.15        (BREAD, COFFEE)       2
22     0.10           (BREAD, JAM)       2
12     0.10        (BISCUIT, COCK)       2
17     0.10         (TEA, BISCUIT)       2
16     0.10        (MILK, BISCUIT)       2
19     0.10     (SUGER, BOURNVITA)       2
28     0.10     (CORNFLAKES, COCK)       2
20     0.10       (TEA, BOURNVITA)       2
13     0.10      (COFFEE, BISCUIT)       2
31     0.10     (MILK, CORNFLAKES)       2
32     0.10      (TEA, CORNFLAKES)       2
33     0.10           (MAGGI, JAM)       2
15     0.10       (MAGGI, BISCUIT)       2

In [23]:
df1[(df1['length']==3) & (df1['support']>=0.1)].sort_values(by="support",ascending=False)

    support                       itemsets  length
35      0.1         (MILK, BISCUIT, BREAD)       3
36      0.1        (COFFEE, BISCUIT, COCK)       3
37      0.1    (CORNFLAKES, BISCUIT, COCK)       3
38      0.1  (COFFEE, CORNFLAKES, BISCUIT)       3
39      0.1          (TEA, MAGGI, BISCUIT)       3
40      0.1        (BREAD, TEA, BOURNVITA)       3
41      0.1         (BREAD, SUGER, COFFEE)       3
42      0.1            (BREAD, MAGGI, JAM)       3
43      0.1            (BREAD, MAGGI, TEA)       3
44      0.1     (COFFEE, CORNFLAKES, COCK)       3

In [24]:
df1[(df1['length']==4) & (df1['support']>=0.1)].sort_values(by="support",ascending=False)

    support                             itemsets  length
45      0.1  (COFFEE, CORNFLAKES, BISCUIT, COCK)       4